<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Co-ordinator Details</title>

    <!-- Bootstrap core CSS -->
    <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <script type="text/javascript" src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <style type="text/css">
      .table-container
      {
        margin-top: 5%;
      }
      body, html{
           height: 100%;
       	background-repeat: no-repeat;
       	background:url(https://i.ytimg.com/vi/4kfXjatgeEU/maxresdefault.jpg);
       	font-family: 'Oxygen', sans-serif;
      	    background-size: cover;
      }

    </style>
    <script type="text/javascript">
    toastr.options = {
      "closeButton": false,
      "debug": false,
      "newestOnTop": false,
      "progressBar": false,
      "positionClass": "toast-top-right",
      "preventDuplicates": false,
      "onclick": null,
      "showDuration": "300",
      "hideDuration": "1000",
      "timeOut": "5000",
      "extendedTimeOut": "1000",
      "showEasing": "swing",
      "hideEasing": "linear",
      "showMethod": "fadeIn",
      "hideMethod": "fadeOut"
    }
    function redirect(url) {
      var studyid = getUrlParameter('studyid');
      url = url +"?studyid="+studyid;
      window.location.href = url;
    }

    function notification(surveyid,name) {
        var studyid = getUrlParameter('studyid');
        $.ajax({
          url: '/notification',
          data:{
            surveyid:surveyid,
            studyid:studyid,
            surveyname:name,
            status:'Now'
          },
          error: function(data) {
            console.log(data);
             $('body').html('<p>An error has occurred</p>');
          },
          success:function(){
            console.log("success");
            toastr.success('Notification sent');
          },
          dataType:'json',
          type:'POST'
      });
    }

    function scheduleHourly(surveyid,name) {
        var studyid = getUrlParameter('studyid');
        $.ajax({
          url: '/notification',
          data:{
            surveyid:surveyid,
            studyid:studyid,
            surveyname:name,
            status:'Hourly',
            time:''
          },
          error: function() {
             $('body').html('<p>An error has occurred</p>');
          },
          success:function(){
            console.log("success");
            toastr.success('Notification is Scheduled Hourly');
          },
          dataType:'json',
          type:'POST'
      });
    }

    function scheduleDaily(e,surveyid,name) {
       var studyid = getUrlParameter('studyid');
       console.log(e);
       var timeVal = document.getElementById(e.id).value;
       if(timeVal == "")
       {
         alert('Please Select the Time of Item to Notify');
         return;
       }
        $.ajax({
          url: '/notification',
          data:{
            surveyid:surveyid,
            studyid:studyid,
            surveyname:name,
            status:'DailyOnce',
            time:timeVal
          },
          error: function() {
             $('body').html('<p>An error has occurred</p>');
          },
          success:function(){
            console.log("success");
            toastr.success('Notification is scheduled Daily');
          },
          dataType:'json',
          type:'POST'
      });
    }

    function scheduleTwice(e,surveyid,name) {
       var studyid = getUrlParameter('studyid');
       console.log(e);
       var timeid1 = e.id.replace('daily','daily1');
       var timeid2 = e.id.replace('daily','daily2')
       var timeVal1 = document.getElementById(timeid1).value;
       var timeVal2 = document.getElementById(timeid2).value;
       if(timeVal1 == "" || timeVal2 == "")
       {
         alert('Please Select the both time of Items to Notify');
         return;
       }
        $.ajax({
          url: '/notification',
          data:{
            surveyid:surveyid,
            studyid:studyid,
            surveyname:name,
            status:'DailyTwice',
            time1:timeVal1,
            time2:timeVal2
          },
          error: function() {
             $('body').html('<p>An error has occurred</p>');
          },
          success:function(){
            console.log("success");
            toastr.success('Notification is scheduled twice a Day');
          },
          dataType:'json',
          type:'POST'
      });



    }

    function messagenotification(messageid,name) {
        var studyid = getUrlParameter('studyid');
        $.ajax({
          url: '/messagenotification',
          data:{
            messageid:messageid,
            studyid:studyid,
            messagename:name,
            status:'Now'
          },
          error: function(data) {
            console.log(data);
             $('body').html('<p>An error has occurred</p>');
          },
          success:function(){
            console.log("success");
            toastr.success('Notification sent');
          },
          dataType:'json',
          type:'POST'
      });
    }

    function messagescheduleHourly(messageid,name) {
        var studyid = getUrlParameter('studyid');
        $.ajax({
          url: '/messagenotification',
          data:{
            messageid:messageid,
            studyid:studyid,
            messagename:name,
            status:'Hourly',
            time:''
          },
          error: function() {
             $('body').html('<p>An error has occurred</p>');
          },
          success:function(){
            console.log("success");
            toastr.success('Notification is Scheduled Hourly');
          },
          dataType:'json',
          type:'POST'
      });
    }

    function messagescheduleDaily(e,messageid,name) {
       var studyid = getUrlParameter('studyid');
       console.log(e);
       var timeVal = document.getElementById(e.id).value;
       if(timeVal == "")
       {
         alert('Please Select the Time of Item to Notify');
         return;
       }
        $.ajax({
          url: '/messagenotification',
          data:{
            messageid:messageid,
            studyid:studyid,
            messagename:name,
            status:'DailyOnce',
            time:timeVal
          },
          error: function() {
             $('body').html('<p>An error has occurred</p>');
          },
          success:function(){
            console.log("success");
            toastr.success('Notification is scheduled Daily');
          },
          dataType:'json',
          type:'POST'
      });
    }

    function messagescheduleTwice(e,messageid,name) {
       var studyid = getUrlParameter('studyid');
       console.log(e);
       var timeid1 = e.id.replace('daily','daily1');
       var timeid2 = e.id.replace('daily','daily2')
       var timeVal1 = document.getElementById(timeid1).value;
       var timeVal2 = document.getElementById(timeid2).value;
       if(timeVal1 == "" || timeVal2 == "")
       {
         alert('Please Select the both time of Items to Notify');
         return;
       }
        $.ajax({
          url: '/messagenotification',
          data:{
            messageid:messageid,
            studyid:studyid,
            messagename:name,
            status:'DailyTwice',
            time1:timeVal1,
            time2:timeVal2
          },
          error: function() {
             $('body').html('<p>An error has occurred</p>');
          },
          success:function(){
            console.log("success");
            toastr.success('Notification is scheduled twice a Day');
          },
          dataType:'json',
          type:'POST'
      });
    }

    var getUrlParameter = function getUrlParameter(sParam) {
     var sPageURL = decodeURIComponent(window.location.search.substring(1)),
         sURLVariables = sPageURL.split('&'),
         sParameterName,
         i;

     for (i = 0; i < sURLVariables.length; i++) {
         sParameterName = sURLVariables[i].split('=');

         if (sParameterName[0] === sParam) {
             return sParameterName[1] === undefined ? true : sParameterName[1];
         }
     }
  };

    $( document ).ready(function() {
        var studyid=getUrlParameter('studyid');
        $.ajax({
               url: '/detailpatientlist',
               data: {
                  format:'json',
                  studyid:studyid
               },
               error: function(errorCode) {
                  $('body').html('<p>An error has occurred</p>');
               },
               dataType: 'json',
               success: function(dataSet) {
                  var patients = [];
                  for (var i = 0; i < dataSet.result.length; i++) {
                    var queryString = "<a href='/viewAnswer?patientid="+dataSet.result[i]["patientid"]+"'>"
                    var viewAnswer = queryString+"<input type='button' value='View Answer'>";
                    var patient=[dataSet.result[i]['email'],dataSet.result[i]['name'],dataSet.result[i]['age'],dataSet.result[i]['gender'], viewAnswer];
                    patients.push(patient);
                  }
                  $('#table-patient').DataTable( {
                    data: patients,
                    columns: [
                    { title: "Email" },
                    { title: "Name" },
                    { title: "Age" },
                    { title: "Gender" },
                    { title: "" }
                  ]
                });
               },
               type: 'POST'
            });
    });

    $( document ).ready(function() {
      var studyid=getUrlParameter('studyid');
      $.ajax({
             url: '/detailsurveylist',
             data: {
                format:'json',
                studyid:studyid
             },
             error: function() {
                $('body').html('<p>An error has occurred</p>');
             },
             dataType: 'json',
             success: function(dataSet) {
                var surveys = [];
                for (var i = 0; i < dataSet.result.length; i++) {
                  var notify = "<input type='button' value='Notify' onclick=notification("+dataSet.result[i]['surveyid']+",\'"+dataSet.result[i]['name']+"\'"+")>";
                  var scheduleHourly = "<input type='button' value='Hourly'onclick=scheduleHourly("+dataSet.result[i]['surveyid']+",\'"+dataSet.result[i]['name']+"\'"+")>";
                  var scheduleDaily = "<input type='time' value='' id='daily_"+i+"'> "+"&nbsp; &nbsp;";
                  var btnScheduleDaily = "<input type='button' id='daily_"+i+"' value='Daily'onclick=scheduleDaily(this,"+dataSet.result[i]['surveyid']+",\'"+dataSet.result[i]['name']+"\'"+")>";
                  scheduleDaily = scheduleDaily + btnScheduleDaily;

                  var scheduleTwice = "<input type='time' value='' id='daily1_"+i+"'> "+"&nbsp; &nbsp;";
                  var scheduleTwice = scheduleTwice + "<input type='time' value='' id='daily2_"+i+"'> "+"&nbsp; &nbsp;";
                  var btnScheduleTwice = "<input type='button' id='daily_"+i+"' value='Daily Twice'onclick=scheduleTwice(this,"+dataSet.result[i]['surveyid']+",\'"+dataSet.result[i]['name']+"\'"+")>";
                  var scheduleTwice = scheduleTwice + btnScheduleTwice;

                  var survey=[dataSet.result[i]['name'],dataSet.result[i]['description'],dataSet.result[i]['email'],notify,scheduleHourly,scheduleDaily,scheduleTwice];
                  surveys.push(survey);
                }
                $('#table-survey').DataTable( {
                  data: surveys,
                  columns: [
                  { title: "Name" },
                  { title: "Description" },
                  { title: "Created By" },
                  { title: "" },
                  { title: "" },
                  { title: "" },
                  { title: "" }
                ]
              });
             },
             type: 'post'
          });
    });

    $( document ).ready(function() {
      var studyid=getUrlParameter('studyid');
      $.ajax({
             url: '/detailmessagelist',
             data: {
                format:'json',
                studyid:studyid
             },
             error: function() {
                $('body').html('<p>An error has occurred</p>');
             },
             dataType: 'json',
             success: function(dataSet) {
                var messages = [];
                for (var i = 0; i < dataSet.result.length; i++) {
                  var notify = "<input type='button' value='Notify' onclick=messagenotification("+dataSet.result[i]['messageid']+",\'"+dataSet.result[i]['name']+"\'"+")>";
                  var scheduleHourly = "<input type='button' value='Hourly'onclick=messagescheduleHourly("+dataSet.result[i]['messageid']+",\'"+dataSet.result[i]['name']+"\'"+")>";
                  var scheduleDaily = "<input type='time' value='' id='messagedaily_"+i+"'> "+"&nbsp; &nbsp;";
                  var btnScheduleDaily = "<input type='button' id='messagedaily_"+i+"' value='Daily'onclick=messagescheduleDaily(this,"+dataSet.result[i]['messageid']+",\'"+dataSet.result[i]['name']+"\'"+")>";
                  scheduleDaily = scheduleDaily + btnScheduleDaily;

                  var scheduleTwice = "<input type='time' value='' id='messagedaily1_"+i+"'> "+"&nbsp; &nbsp;";
                  var scheduleTwice = scheduleTwice + "<input type='time' value='' id='messagedaily2_"+i+"'> "+"&nbsp; &nbsp;";
                  var btnScheduleTwice = "<input type='button' id='messagedaily_"+i+"' value='Daily Twice'onclick=messagescheduleTwice(this,"+dataSet.result[i]['messageid']+",\'"+dataSet.result[i]['name']+"\'"+")>";
                  var scheduleTwice = scheduleTwice + btnScheduleTwice;

                  var message=[dataSet.result[i]['name'],dataSet.result[i]['description'],dataSet.result[i]['type'],dataSet.result[i]['email'],notify,scheduleHourly,scheduleDaily,scheduleTwice];
                  messages.push(message);
                }
                $('#table-message').DataTable( {
                  data: messages,
                  columns: [
                  { title: "Name" },
                  { title: "Description" },
                  { title: "Type" },
                  { title: "Created By" },
                  { title: "" },
                  { title: "" },
                  { title: "" },
                  { title: "" }
                ]
              });
             },
             type: 'post'
          });
    });

    </script>

  </head>

  <body>
    <div class="table-container">
      <h1 align="center" style="color:white;">Patients</h1>
      <table id="table-patient" class="table table-striped table-bordered table-responsive"></table>
      <div class="inner cover">
          <button class="btn btn-primary btn-sx" type="button" onclick="redirect('/addPatientToStudy');">Add Patient to this study</button>
     </div>
    </div>

    <div class="table-container">
      <h1 align="center" style="color:white;">Surveys</h1>
      <table id="table-survey" class="table table-striped table-bordered table-responsive"></table>
      <div class="inner cover">
         <button class="btn btn-primary btn-sx" type="button" onclick="redirect('/addSurveyToStudy');">Add Survey to this study</button>
     </div>
    </div>

    <div class="table-container">
      <h1 align="center" style="color:white;">Messages</h1>
      <table id="table-message" class="table table-striped table-bordered table-responsive"></table>
      <div class="inner cover">
         <button class="btn btn-primary btn-sx" type="button" onclick="redirect('/addMessageToStudy');">Add Message to this study</button>
     </div>
    </div>

  </body>
</html>
