b<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Messages</title>

    <!-- Bootstrap core CSS -->
    <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <script type="text/javascript" src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <style type="text/css">
      .table-container
      {
        margin-top: 5%;
      }
      body, html{
           height: 100%;
       	background-repeat: no-repeat;
       	background:url(https://i.ytimg.com/vi/4kfXjatgeEU/maxresdefault.jpg);
       	font-family: 'Oxygen', sans-serif;
      	    background-size: cover;
      }

    </style>
    <script type="text/javascript">
    toastr.options = {
      "closeButton": false,
      "debug": false,
      "newestOnTop": false,
      "progressBar": false,
      "positionClass": "toast-top-right",
      "preventDuplicates": false,
      "onclick": null,
      "showDuration": "300",
      "hideDuration": "1000",
      "timeOut": "5000",
      "extendedTimeOut": "1000",
      "showEasing": "swing",
      "hideEasing": "linear",
      "showMethod": "fadeIn",
      "hideMethod": "fadeOut"
    }
    function notification(id,type,message) {
        $.ajax({
          url: '/notification',
          data:{
            id:id,
            type:type,
            message:message,
            status:'',
            time:''
          },
          error: function(data) {
            console.log(data);
             $('body').html('<p>An error has occurred</p>');
          },
          success:function(){
            console.log("success");
            toastr.success('Notification sent');
          },
          dataType:'json',
          type:'POST'
      });
    }

    function scheduleHourly(id,type,message) {
        $.ajax({
          url: '/notification',
          data:{
            id:id,
            type:type,
            message:message,
            status:'Hourly',
            time:''
          },
          error: function() {
             $('body').html('<p>An error has occurred</p>');
          },
          success:function(){
            console.log("success");
            toastr.success('Notification is Scheduled Hourly');
          },
          dataType:'json',
          type:'POST'
      });
    }

    function scheduleDaily(e,id,type,message) {
       console.log(e);
       var timeVal = document.getElementById(e.id).value;
       if(timeVal == "")
       {
         alert('Please Select the Time of Item to Notify');
         return;
       }
        $.ajax({
          url: '/notification',
          data:{
            id:id,
            type:type,
            message:message,
            status:'DailyOnce',
            time:timeVal
          },
          error: function() {
             $('body').html('<p>An error has occurred</p>');
          },
          success:function(){
            console.log("success");
            toastr.success('Notification is scheduled Daily');
          },
          dataType:'json',
          type:'POST'
      });
    }

    function scheduleTwice(e,id,type,message) {
       console.log(e);
       var timeid1 = e.id.replace('daily','daily1');
       var timeid2 = e.id.replace('daily','daily2')
       var timeVal1 = document.getElementById(timeid1).value;
       var timeVal2 = document.getElementById(timeid2).value;
       if(timeVal1 == "" || timeVal2 == "")
       {
         alert('Please Select the both time of Items to Notify');
         return;
       }
        $.ajax({
          url: '/notification',
          data:{
            id:id,
            type:type,
            message:message,
            status:'DailyTwice',
            time1:timeVal1,
            time2:timeVal2
          },
          error: function() {
             $('body').html('<p>An error has occurred</p>');
          },
          success:function(){
            console.log("success");
            toastr.success('Notification is scheduled twice a Day');
          },
          dataType:'json',
          type:'POST'
      });
    }

    $( document ).ready(function() {
      console.log( "ready!" );
      $.ajax({
             url: '/message',
             data: {
                format: 'json'
             },
             error: function() {
                $('body').html('<p>An error has occurred</p>');
             },
             dataType: 'json',
             success: function(dataSet) {
                console.log(dataSet);
                var messages = [];
                for (var i = 0; i < dataSet.messages.length; i++) {
                  var msg = dataSet.messages[i]['message'].replace(/\s/g,"&nbsp;");
                  var notify = "<input type='button' value='Notify'onclick=notification("+dataSet.messages[i]['id']+",\'"+dataSet.messages[i]['type']+"\',\'"+msg+"\'"+")>";
                  var scheduleHourly = "<input type='button' value='Hourly'onclick=scheduleHourly("+dataSet.messages[i]['id']+",\'"+dataSet.messages[i]['type']+"\',\'"+msg+"\'"+")>";
                  var scheduleDaily = "<input type='time' value='' id='daily_"+i+"'> "+"&nbsp; &nbsp;";
                  var btnScheduleDaily = "<input type='button' id='daily_"+i+"' value='Daily'onclick=scheduleDaily(this,"+dataSet.messages[i]['id']+",\'"+dataSet.messages[i]['type']+"\',\'"+msg+"\'"+")>";
                  scheduleDaily = scheduleDaily + btnScheduleDaily;

                  var scheduleTwice = "<input type='time' value='' id='daily1_"+i+"'> "+"&nbsp; &nbsp;";
                  var scheduleTwice = scheduleTwice + "<input type='time' value='' id='daily2_"+i+"'> "+"&nbsp; &nbsp;";
                  var btnScheduleTwice = "<input type='button' id='daily_"+i+"' value='Daily Twice'onclick=scheduleTwice(this,"+dataSet.messages[i]['id']+",\'"+dataSet.messages[i]['type']+"\',\'"+msg+"\'"+")>";
                  var scheduleTwice = scheduleTwice + btnScheduleTwice;

                  var message = [dataSet.messages[i]["type"],dataSet.messages[i]["message"],dataSet.messages[i]["answer"],notify,scheduleHourly,scheduleDaily,scheduleTwice];
                  messages.push(message);
                }
                $('#table-messages').DataTable( {
                  data: messages,
                  columns: [
                  { title: "Type" },
                  { title: "Message" },
                  { title: "Answer" },
                  { title: "Notify" },
                  { title: "Schedule Hourly"},
                  { title: "Schedule Once"},
                  { title: "Schedule Twice"}
                ]
              });
             },
             type: 'GET'
          });
    });

    </script>

  </head>

  <body>
    <div class="table-container">
      <table id="table-messages" class="table table-striped table-bordered table-responsive"></table>
      <div class="inner cover">
         <form method="GET" action="/newMessage">
           <div class="col-xs-4">
              <button type="submit" class="btn btn-primary btn-sx" type="button">Create New Message</button>
          </div>
         </form>
     </div>
    </div>

  </body>
</html>
